<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bangbangmail">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mail_login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".Util.FishMailApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".AlreadyDeleteActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".WriteActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ReceiveActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".AlreadySendActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgetPasswordActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".RegisterActivity"
            android:launchMode="singleTask"/>
        <!-- <activity android:name=".ForgetPasswordActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name=".RegisterActivity"></activity> -->
        <activity android:name=".ResetPassword"
            android:launchMode= "singleTask"/>
        <activity android:name=".MailDetail"
            android:launchMode= "singleTask" />
    </application>

</manifest>